<div class="row">
    <div class="col-2"></div>
    <div class="col-10 back-btn">
        <a  routerLink="/moviesList" >Back to List</a>
    </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="isError">
    Opssss An error occured, please try again later.
  </div>

  <div class="row" *ngIf="isBusy">
    <div class="col-12">
        <mat-spinner></mat-spinner>
    </div>
</div>


<div class="container movie-details-container" *ngIf="!isError && !isBusy && movie">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3 col-xs-12">
            <img src="{{movie.poster}}" class="img-fluid"/>
        </div>
        <div class="col-5 col-xs-12">
            <div>
                <h4 class="movie-name">{{movie.title}}</h4>
            </div>
            <div class="movie-info-container">
                <span class="movie-info">{{movie.released_on}}</span> | 
                <span class="movie-info">{{movie.length}}</span> | 
                <span class="movie-info">{{movie.director}}</span>
            </div>
            <div class="movie-info-container">
                <span class="cast">Cast</span> : <span class="cast-name" *ngFor="let i of movie.cast"> {{i}}, </span>
            </div>
            <div>
                {{movie.overview}}
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>